body{
	margin: 0;
	padding: 0;
}
.clear::after{
	display: table;
	clear: both;
	content: '';
}
#wrapper{
	max-width: 1200px;
	margin: 0 auto;
	widows:100%;
}
/*Header srtarts*/
.header{
	background: url(deadpol.jpg);
}
ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
ul li a{
	text-transform: uppercase;
	display: block;
	padding: 20px 50px;
	text-decoration: none;
	color: white;
}
ul li{
	float: left;
}
ul li a:hover{
	background-color: #331b1b;
	color: #903838;
}