<style type="text/css">
		body{background-color: red;
			margin: 0px;
			padding: 0;
		}
		h1{
			background-color: white;
			padding: 30px;
			text-align: center;
		}
		p{
			font-size: 28px;
			font-family: 'AR DESTINE';
			color: yellow;
		}
		</style>