body{
		margin: 0;
		padding: 0;
	
	}
	.clear::after{
		display: table;
		clear: both;
		content: '';
	}
	#wrapper{
		max-width:1200px;
		margin: 0 auto;
		width: 100%;

	}
	/* Header start */
	.header{
			background-color:powderblue;
	}
		ul{
			
			list-style-type:none;
			
			padding:0;
			margin:0;
		}
		ul li{
			float:left;
		}
		ul li a{
			text-transform: uppercase;
			display:block;
			padding: 20px 25px;
			text-decoration:none;
			color: white;
		}
		ul li a:hover{
			background-color:#75a75a;
			color: grey;

		}