body{
	background-color: #000;
	margin: 0px;
	padding: 0px;
	font-family: 'verdana';
	font-size: 10px;
}
h1{
	background-color: white;
	padding: 20px;
	text-align: center;
}
p{
	font-family: 'verdana';
	font-size: 20px;
	color: yellow;
}